<ul class="menu">
    <li><a routerLink="/" (click)="getMenuActive()">我要陳情</a></li>
    <li><a routerLink="/query" (click)="getMenuActive()">案件查詢</a></li>
    <li><a routerLink="/process" (click)="getMenuActive()">服務流程</a></li>
    <li><a routerLink="/faq/1" (click)="getMenuActive()">常見 FAQ</a></li>
</ul>
<div class="wrap" [ngClass]="{'active':mb}">
    <header class="header clear-fix">
        <h1 class="header-brand">
            <a href="/" class="header-logo" alt="嘉義市政府 Logo" title="嘉義市政府線上即時服務系統">

            </a>
        </h1>
        <div class="header-menu">
            <div class="menu-button hidden-lg" [ngClass]="{'active':mb}" (click)="getMenuActive()" >

            </div>
        </div>
    </header>
    <article class="content">
        <router-outlet></router-outlet>
    </article>
    <footer class="footer">
        <div class="footer-warp clear-fix">
            <div class="footer-info clear-fix">
                <section class="footer-content">
                    <h2 class="font-default block-sprade bs-green">本系統由 嘉義市政府企劃處 維護</h2>
                    <p class="font-sm">
                        本系統於每日凌晨 01:00 至 02:00 進行維護<br>如有不便敬請見諒。 嘉義市政府總機: 05-2254321<br>
                    </p>
                </section>
            </div>
            <ul class="footer-links font-sm">
                <li><a routerLink="/term/privacy">隱私權保護政策</a></li>
                <li><a routerLink="/term/sucrity">網站安全政策</a></li>
                <li><a routerLink="/term/copy">著作權聲明</a></li>
                <li><a href="http://www.chiayi.gov.tw/2015web/index.aspx">嘉義市政府全球資訊網</a></li>
            </ul>
        </div>
    </footer>
</div>
