<section class="proccess main-wrap">
  <div class="main-content line-box">
    <div class="">
      <header class="line-box-title deco-triangle">
        <h1>服務流程</h1>
        <p>Service Process</p>
      </header>
      <div class="clear-fix">
        <div class="proccess-img">
          <img class="" src="./assets/images/share/process.png" alt="">
        </div>
        
        <div class="proccess-info">
          <article class="info">
            <h2 class="info-title">案件陳情服務系統作業方式</h2>
            <ol class="info-content">
              	<li>請您於投書時提供正確之 E-MAIL 帳號、電話、姓名，俾系統自動回覆您信件收件編號及回覆內容亦將以 E-MAIL 的方式傳送給您。</li>
                <li>查詢回覆內容時，請您透過系統自動提供之收件編號及姓名（或 E-MAIL ），於「即時服務案件查詢」選擇鍵中進行查閱。</li>
                <li>案件之處理依「行政院暨所屬各機關處理人民陳情案件要點」辦理，當您收到相關單位的處理結果後，還可經由滿意度問卷調查填寫對該項回函處理的滿意程度，歡迎您多加利用。</li>
            </ol>
          </article>

          <article class="info">
            <h2 class="info-title">未確認函之處理</h2>
            <p class="info-content">
              	本府為避免所處理的信件無法傳送當事人，甚或信箱遭冒用之情形，將會在受理分案後回傳收件編號後分派至相關機關處理，若您一直無法收到收件編號函，可能是您填寫的電子信箱有誤，建議您重新檢視並再次傳送。
            </p>
          </article>

          <article class="info">
            <h2 class="info-title">流程說明</h2>
            <p class="info-content">
              	步驟一、陳情民眾於案件陳情系統填入正確資料後等待確認郵件。<br/>
步驟二、點選確認郵件後，會依照項目別分別採取自動分案或人工線上分案，分案給承辦單位。<br/>
步驟三、承辦單位於處理後，系統將寄出處理情形通知陳情民眾，若因時效內無法完成，亦會寄出展期信件通知陳情民眾。<br/>
            </p>
          </article>
        </div>
      </div>
      
    </div>
  </div>
</section>
