@import "../../assets/stylesheets/scss/grid/_grid.scss";
.proccess {
    
    .proccess-img {
        float: left;
        width: 35%;
        @include phone {
            float: none;
        }

    }
    .proccess-info {
        width: 65%;
        float: right;
    }
}