<section class="faq main-wrap" *ngIf="!showDetail">
  <div class="main-content line-box">
    <div class="faq-header">
      <header class="line-box-title deco-triangle">
        <h1>常見 FAQ</h1>

      </header>
      <div class="faq-seach">
        <div class="row">
          <div class="col-md-7">
            <div class="field">
              <label class="field-name">關鍵字</label>
              <input class="field-entery" type="text" placeholder="有什麼我能幫助您的呢？" >
            </div>
          </div>
          <div class="col-md-5">
            <div class="field">
              <label class="field-name">處理單位</label>
              <div class="field-select" role="combobox" (click)="selectSwitch = !selectSwitch">
                <input class="field-entery" type="text" value="{{selectValue}}" readonly>
              </div>
            </div>
          </div>
          <div class="col-md-12 select" [ngClass]="{'active':selectSwitch}">
            <ul class="select-options">
              <li *ngFor="let item of categories" [ngClass]="{'active': selectValue === item.kind_name }" data-value="{{item.kind}}" (click)="getSelectItem($event.target)">{{item.kind_name}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="faq-list">
        <div class="row faq-item" *ngFor="let i of [1,2,3,4,5,6,7]">
          <div class="col-md-10">
            <small>問題內容</small>
            <p><a href="javascript:void(0)" (click)="getDetail()">如果我希望在住家前面安裝錄影監視系統，請問要如何要向市政府申請？</a></p>
          </div>
          <div class="col-md-2">
            <small>單位</small>
            <p>民政區政</p>
          </div>
        </div>
        <div class="row">
          <ul class="faq-paging">
            <li class="hidden-xs"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;<span>第一頁</span></li>
            <li>2</li>
            <li class="active">3</li>
            <li>4</li>
            <li class="hidden-xs"><span>最後頁</span>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></li>
          </ul>
          <ul class="faq-paging hidden-sm hidden-md hidden-lg mt-20">
            <li ><i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;<span>第一頁</span></li>
            <li ><span>最後頁</span>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div *ngIf="showDetail" >
  <app-faq-detail (closeDetail)="closeDetail()"></app-faq-detail>
</div>
