<section class="faq main-wrap" *ngIf="!reply">
  <div class="main-content line-box">
    <div class="faq-header">
      <header class="line-box-title deco-triangle">
        <h1>常見 FAQ</h1>

      </header>
      <div class="faq-seach">
        <div class="row">
          <div class="col-md-7">
            <div class="field">
              <label class="field-name">關鍵字</label>
              <input [(ngModel)]="keywords" class="field-entery" type="text" placeholder="有什麼我能幫助您的呢？" (keyup)="getFaqList()">
            </div>
          </div>
          <div class="col-md-5">
            <div class="field">
              <label class="field-name">業務類別</label>
              <div class="field-select" role="combobox" (click)="selectSwitch = !selectSwitch">
                <input [value]="selectValue" class="field-entery" type="text" readonly >
                <select class="mb-select hidden-md hidden-lg" (change)="getSelectText($event.target)">

                  <option value="">全部</option>
                  <option *ngFor="let item of categories" value="{{item.kind}}">{{item.kind_name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12 select" [ngClass]="{'active':selectSwitch}">
            <ul class="select-options hidden-sm hidden-xs">
              <li [ngClass]="{'active': kind === '' }" (click)="getSelectItem($event.target)">全部</li><li *ngFor="let item of categories" [ngClass]="{'active': kind === item.kind }" (click)="getSelectItem($event.target,item.kind);">{{item.kind_name}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="faq-list" *ngIf="faqList && faqList.length !== 0">
        <div class="row faq-item" *ngFor="let faq of faqList | slice: (page - 1) * pageSize: (page * pageSize - 1)">
          <div class="col-md-10">
            <small>問題內容</small>
            <p><a href="javascript:void(0)" href="javascript:void(0)" (click)="getReply(faq.OrganNo, faq.SeqNo)">{{faq.SerialNo + faq.CaseContent}}</a></p>
          </div>
          <div class="col-md-2">
            <small>業務單位</small>
            <p>{{faq.OrganName}}</p>
          </div>
        </div>

        <div class="row" [ngClass]="{'page-alpha':totalPage<=1}">
          <ul class="faq-paging">
            <li class="hidden-xs" [ngClass]="{'page-alpha':page<=1}"><a [routerLink]="['/faq', 1 ]"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;<span>第一頁</span></a></li>
            <li [ngClass]="{'page-alpha':page<=1}"><a [routerLink]="['/faq', page-1 ]">{{page-1}}</a></li>
            <li class="active">{{page}}</li>
            <li [ngClass]="{'page-alpha':page>=totalPage}"><a [routerLink]="['/faq', page+1 ]">{{page+1}}</a></li>
            <li class="hidden-xs" [ngClass]="{'page-alpha':page>=totalPage}"><a [routerLink]="['/faq', totalPage ]"><span>最後頁</span>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
          </ul>
          <ul class="faq-paging hidden-sm hidden-md hidden-lg mt-20">
            <li [ngClass]="{'page-alpha':page<=1}"><a [routerLink]="['/faq', 1 ]"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;<span>第一頁</span></a></li>
            <li [ngClass]="{'page-alpha':page>=totalPage}"><a [routerLink]="['/faq', totalPage ]"><span>最後頁</span>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="faq-list" *ngIf="faqList && faqList.length === 0">
          <h2 class="text-center pt-20">沒有符合您關鍵字的問題集</h2>
      </div>
    </div>
  </div>
</section>
<div >
  <app-faq-detail [reply]="reply" *ngIf="reply" (closeReply)="closeReply()"></app-faq-detail>
</div>

<div class="fack-loading">
  <div class="content"></div>
</div>
