@import "../../assets/stylesheets/scss/grid/_variable.scss";
@import "../../assets/stylesheets/scss/grid/_grid.scss";
.faq {
    .faq-list {
        
    }
    .faq-item {
        padding-top: 1em;
        box-shadow: 0 .5px 0 $md-green;
        
        
        p,a {
            font-size: 1.125em;
            font-weight: 500;            
        }
        a {
            color: $dk-green;
        }
        p {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &:nth-child(2n-1) {
            background: rgba($md-green,.05);
        }
    }
    .faq-paging {
        text-align: center;
        margin-top: 2em;
        li {
            display: inline-block;
            padding: 0 .85em;
            color: $dk-green;
            cursor: pointer;
        }
        .fa {
            font-size: 1.5em;
            margin-top: -10px; 
        }
        li:first-child {
            border-right: .5px solid $dk-green;
            padding-right: 1em;
        }
        li:nth-last-child(1) {
            border-left: .5px solid $dk-green;
            padding-left: 1em;
            
        }
        .active {
            position: relative;
            color: $orange;
            font-size: 1.75em;
            &:after {
                content: "";
                position: absolute;
                bottom: -.2em;
                left: 30%;
                width: 40%;
                height: 2px;
                background: $orange;
            }

        }
    }
}