<section class="faq main-wrap" *ngIf="!reply">
  <div class="main-content line-box">
    <div class="faq-header">
      <header class="line-box-title deco-triangle">
        <h1>常見 FAQ</h1>

      </header>
      <div class="faq-seach">
        <div class="row">
          <div class="col-md-7">
            <div class="field">
              <label class="field-name">關鍵字</label>
              <input [(ngModel)]="keywords" class="field-entery" type="text" placeholder="有什麼我能幫助您的呢？" (change)="getFaqList()">
            </div>
          </div>
          <div class="col-md-5">
            <div class="field">
              <label class="field-name">處理單位</label>
              <div class="field-select" role="combobox" (click)="selectSwitch = !selectSwitch">
                <input [value]="selectValue" class="field-entery" type="text" readonly (change)="getFaqList()">
              </div>
            </div>
          </div>
          <div class="col-md-12 select" [ngClass]="{'active':selectSwitch}">
            <ul class="select-options">
              <li [ngClass]="{'active': kind === '' }" (click)="getSelectItem($event.target);">全部</li><li *ngFor="let item of categories" [ngClass]="{'active': kind === item.kind }" (click)="getSelectItem($event.target,item.kind);">{{item.kind_name}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="faq-list">
        <div class="row faq-item" *ngFor="let faq of faqList | slice: (page - 1) * pageSize: (page * pageSize - 1)">
          <div class="col-md-10">
            <small>問題內容</small>
            <p><a href="javascript:void(0)" href="javascript:void(0)" (click)="getReply(faq.OrganNo, faq.SeqNo)">{{faq.CaseContent}}</a></p>
          </div>
          <div class="col-md-2">
            <small>單位</small>
            <p>{{faq.OrganName}}</p>
          </div>
        </div>


        <!--<ul class="page">
            <li class="page-first" [ngClass]="{'page-alpha':page<=1}">
              <a *ngIf="page>1" [routerLink]="['/faq', 1 ]">
                <i class="fa fa-angle-double-left fa-lg" aria-hidden="true" ></i>
              </a>
            </li>
            <li class="page-prev" [ngClass]="{'page-alpha':page<=1}">
              <a *ngIf="page>0" [routerLink]="['/faq', page - 1]">
                <i class="fa fa-angle-left fa-lg" aria-hidden="true" ></i>
              </a>
            </li>
            <li><a [routerLink]="['/faq', page ]">{{ page }}</a></li>
            <li class="page-next" [ngClass]="{'page-alpha':page>=totalPage}"><a [routerLink]="['/faq', page + 1]"><i class="fa fa-angle-right fa-lg" aria-hidden="true" ></i></a></li>
            <li class="page-final" [ngClass]="{'page-alpha':page>=totalPage}"><a [routerLink]="['/faq', totalPage]"><i class="fa fa-angle-double-right fa-lg" aria-hidden="true" ></i></a></li>
          </ul>-->


        <div class="row">
          <ul class="faq-paging">
            <li class="hidden-xs" [ngClass]="{'page-alpha':page<=1}"><a [routerLink]="['/faq', 1 ]"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;<span>第一頁</span></a></li>
            <li [ngClass]="{'page-alpha':page<=1}"><a [routerLink]="['/faq', page-1 ]">{{page-1}}</a></li>
            <li class="active">{{page}}</li>
            <li [ngClass]="{'page-alpha':page>=totalPage}"><a [routerLink]="['/faq', page+1 ]">{{page+1}}</a></li>
            <li class="hidden-xs" [ngClass]="{'page-alpha':page>=totalPage}"><a [routerLink]="['/faq', totalPage ]"><span>最後頁</span>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
          </ul>
          <ul class="faq-paging hidden-sm hidden-md hidden-lg mt-20">
            <li [ngClass]="{'page-alpha':page<=1}"><a [routerLink]="['/faq', 1 ]"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;<span>第一頁</span></a></li>
            <li [ngClass]="{'page-alpha':page>=totalPage}"><a [routerLink]="['/faq', totalPage ]"><span>最後頁</span>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div >
  <app-faq-detail [reply]="reply" *ngIf="reply" (closeReply)="closeReply()"></app-faq-detail>
</div>
