/* ===== my reset ===== */
body {
    font-size: 16px;
    font-family: "Lucida Grande","Helvetica", "Roboto","PingFang TC","Heiti TC","微軟正黑體";
    background: #005151;
    
}
* {
   font-weight: 300; 
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
a, a:hover, a:focus {
    text-decoration: none;
}
/* ======= unit - clear ======= */

.clear-fix:before,
.clear-fix:after { 
    content:"";
    display:table;
}
.clear-fix:after {
    clear:both;
}
.clear-fix {     
    zoom:1;
}
/* ======= unit - decoration ======= */
.mark {
    position: relative;
    display: inline-block;
    background: transparent;
}
.mark:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 5%;
    height: 3px;
    width: 90%;
    background: #EB7D1F;
}
.block-sprade {
    position: relative;
}
.block-sprade.bs-green:after {
    background: #005151;
}
.block-sprade.bs-brown:after {
    background: #858581;
}
.block-sprade:after {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 15px;
    bottom: 0;
    background: inherit;
}
/* ======= unit - font ======= */
.font-default {
    font-size: 1em;
}
.font-title {
    font-size: 300%
}
.font-lg {
    font-size: 150%
}
.font-sm {
    font-size: 87.5%;
}
.font-xs {
    font-size: 75%;
}
.font-bolder {
    font-weight: 500;
}
.font-dkgreen {
    color: #005151;
}


/* ======= unit - gap ======= */
.pt-20 {
    padding-top: 20px;
}
.pb-20 {
    padding-bottom: 20px
}
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.mb-0 {
    margin-bottom: 0;
}
.mt-0 {
    margin-top: 0;
}
.line-break {
    display: block;
    @include phone{
        display: inline;
    }
}
.line-break-small-device {
    display: inline;
    @include phone{
        display: block;
        padding-top: 1em;
    }
}