<section class="query clear-fix" *ngIf="!showDetail">
  <h1 class="big-title">陳情案件查詢</h1>
  <div class="line-box line-triangle-deco line-box-tiny">
    <div>
      <p class="deco-triangle">請記得輸入您的電子信箱及陳情案件編號方可查看您陳情案件的處理狀況哦！</p>
      <form action="" [formGroup]="queryForm">
        <div class="field">
          <label class="field-name">陳情案件編號</label>
          <input class="field-entery" type="text" placeholder="請輸入陳情案件編號" formControlName="Id">
        </div>
        <div class="field">
          <label class="field-name">電子信箱</label>
          <input class="field-entery" type="text" placeholder="example@example.com" formControlName="Mail">
        </div>
        <div class="field">
          <label class="field-name">陳情人</label>
          <input class="field-entery" type="text" placeholder="請輸入姓名" formControlName="Owner">
        </div>
        <div class="row">
          <div class="col-xs-7 col-sm-5">
            <img class="v-img" src="{{recaptchaImg}}" alt="驗證碼" title="請輸入驗證碼"><br />
            <div class="v-hit" (click)="getRecaptcha()">重新取得驗證碼？</div>
          </div>
          <div class="col-xs-5 col-sm-7">
            <div class="field">
              <label class="field-name">驗證碼</label>
              <!-- 驗證驗證碼 -->
              <input id="validationCode" name="Input_ValidationCode" class="field-entery" type="text" formControlName="Recaptcha">
            </div>
          </div>
        </div>
        <div class="field">
          <code>
          <pre>{{queryForm.value | json}}<br>{{queryForm.status | json}}
          </pre>
          </code>
        </div>

        <button type="button" class="btn btn-green" (click)="getDetail()">查詢陳情案件</button>
      </form>
    </div>
  </div>
</section>
<div *ngIf="showDetail" >
  <app-query-detail (closeDetail)="closeDetail()"></app-query-detail>
</div>

<div class="fack-loading">
  <div class="content"></div>
</div>
