<ul class="menu">
    <li><a routerLink="/report">我要陳情</a></li>
    <li><a routerLink="/query">案件查詢</a></li>
    <li><a routerLink="/proccess">服務流程</a></li>
    <li><a routerLink="/faq">常見 FAQ</a></li>
</ul>
<div class="wrap" [ngClass]="{'active':mb}">
    <header class="header clear-fix">
        <h1 class="header-brand">
            <a href="/" class="header-logo" alt="嘉義市政府 Logo" title="嘉義市政府線上即時服務系統">
                
            </a>
        </h1>
        <div class="header-menu">
            <div class="menu-button hidden-lg" [ngClass]="{'active':mb}" (click)="mb=!mb" >
                
            </div>
        </div>
    </header>
    <article class="content">
        <router-outlet></router-outlet>
    </article>
    <footer class="footer">
        <div class="footer-warp clear-fix">
            <div class="footer-info clear-fix">
                <img class="footer-img hidden-xs hidden-sm" width="117" height="117" src="./assets/images/share/qrcode.png" alt="網站手機版連結" title="請使用手機 QRcode 掃描">
                <section class="footer-content">
                    <h2 class="font-default block-sprade bs-green">本系統由 嘉義市政府企劃處 維護</h2>
                    <p class="font-xs">
                        當系統處於定期維護時間，<br>
                        每日凌晨 01:00 ~ 02:00 時，如有不便還請見諒。<br>
                        嘉義市政府聯合服務中心電話：05-2254321<br>
                    </p>
                </section>
            </div>
            <ul class="footer-links font-sm">
                <li><a routerLink="/term">隱私權保護政策</a></li>
                <li><a routerLink="/term">網站安全政策</a></li>
                <li><a routerLink="/term">著作權聲明</a></li>
                <li><a href="http://www.chiayi.gov.tw/2015web/index.aspx">嘉義市政府全球資訊網</a></li>
            </ul>
        </div>
    </footer>
</div>