//*  ==== var color ===== *//
$lt-green: #1FC9C5;
$md-green: #009797;
$dk-green: #005151;
$orange:   #EB7D1F;
$bgC:      #F0F0E1;
$brown:    #858581;
$dk-brown: #222;
$white:    #fff;

//*  ==== var z-index ===== *//

$layout-index: ("mob-menu",".content", ".header", ".footer", ".menu");
