@import "../../assets/stylesheets/scss/grid/_variable.scss";
@import "../../assets/stylesheets/scss/grid/_grid.scss";

.form-group {
  font-size: 1.5em;
  @include phone (){
    font-size: 1em;
  }
  border-bottom: 1px solid $md-green;
  >.col-md-3 {
    text-align: left;
    @include pc {
      text-align: right;
    }
  }

  input[type='text'],
  input[type='tel'] {
    display: inline-block;
    position: relative;
    margin: 1em 0 .8em 1em;
    padding-left: 1.3em;
    width: 95%;
    font-size: inherit;
    background: transparent;
    border: none;
    border-left: 0 solid;
    letter-spacing: .1em;
    transition: border-left .2s;
    @include phone {
      margin-left: 0;
      padding-left: .5em;

    }
    &:focus {
      outline: none;
      border-left: 5px solid $dk-green;
    }


  }
  textarea {
    margin: 1em 0 .8em 1em;
    padding-left: 1.3em;
    background: transparent;
    width: 100%;
    border: none;
    transition: border-left .2s;
    @include phone {
      margin-left: 0;
      padding-left: .5em;
    }

    &:focus {
      outline: none;
      border-left: 5px solid $dk-green;


    }
  }
  .select {
    position: relative;
  }

  .field-entery {
    padding-bottom: 0;
  }
  .field-select:before {
    top: 35%;
    right: 5%;
  }
  h4,
  .form-title {
    position: relative;
    display: inline-block;
    font-size: .95em;
    font-weight: 500;
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      display: block;
      right: -.6em;
      bottom: -.2em;
      height: 1em;
      width: 2em;
      background: rgba($brown, .2);
    }
    &.valid:after {
      background: rgba($md-green,.2);
    }
    &.invalid:after {
      background: rgba($orange,.2);
    }
  }
}
.form-radio {
  margin-top: .8em;
  margin-left: 3%;
  font-size: .85em;
  &.id-list {
    @include phone {
      margin-top: 20px;
    }
  }
  li {
    margin-bottom: .7em;
    @include phone {
      .mt-20 {
        margin-top: 0;
      }
    }
  }

  input {
    display: none;
    &[checked],
    &.active{
      & + label:before {
        background: $dk-green;
        border: 1px solid $dk-green;
        box-shadow: 0 0 0 1.5px $bgC inset;
      }
    }
  }
  label {
    display: inline-block;
    &:before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      border: 1px solid $dk-green;
      border-radius: 50%;
      margin-right: .95em;
    }
  }
}

.files {
  font-size: 24px;
  @include phone (){
    font-size: 16px;
  }
}
.file-upload {
  position: relative;

  width: 12em;
  height: 2.7em;
  padding-left: 3em;
  margin: 10px 0 10px 10px;
  border-radius: 1.35em;

  color: white;
  font-size: 1em;
  text-align: center;
  line-height: 2.7em;

  background: $brown;
  cursor: pointer;
  @include phone {
    margin-bottom: 2em;
  }
  &:before {
    content: '\f0ee';
    position: absolute;
    height: 100%;
    width: 4em;
    left: 0;
    top: 0;
    border-radius: inherit;
    background: rgba(#D2BC9B,.2);
  }
  &.btn-uploading {
    padding-left: 0;
    background: $md-green;

    &:before {
      content: "";
    }
  }
}
pre {
  position: fixed;
  z-index: 999;
  background: rgba(255,255,255,1);
  left: 0;
  top: 0;
  font-size: 10px;
}
.font-color-red {
  color: #d4144d;
  font-weight: bold;
  &.pt-20 {
    display: inline-block;
  }
}
.v-img {
  width: 100%;
  max-width: 150px;
  height: 75px;
  border-radius: 3px;
}
.v-hit {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  color: $dk-green;
  font-size: .85em;
  font-weight: 300;
  line-height: 1.5em;
  &:hover {
    border-bottom: 1px solid $dk-green;
  }
}
.btn.btn-green {
  margin-top: 20px;
}
#age, #sex {
  color: #000;
  &:focus {
    outline: none;
  }
}
.form-validation-msg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 10px 10%;

  color: $white;
  text-align: center;
  letter-spacing: .3em;

  opacity: 1;
  transition: opacity .8s;
  &.valid {
    background: $lt-green;
    // opacity: 0;

  }
  &.invalid {
    background: $orange;

    opacity: 1;

  }
}

.line-box-tiny {
  float: none;
  margin: 0 auto 10em;
  & > div {
    padding-top: 1em;
    padding-bottom: 5em;
  }
  .btn {
    position: absolute;
    bottom: -35px;
    right: 15%;
    width: 70%;
  }
}
.text-right {
  text-align: right;
}
.break-pc {
  @include pc {
    display: block;
  }
}
.loading-words {
  margin-left: -40px;
}
