<section class="query-detail main-wrap">
  <div class="main-content line-box">
    <div class="">
      <header class="line-box-title deco-triangle">
        <h1>案件查詢</h1>
      </header>
      <div class="query-detail-content">
        <div class="row">
          <div class="col-md-4">
            <div class="query-detail-item">
              <small>主項目</small>
              <p>公園綠地行道樹維護</p>
            </div>
            <div class="query-detail-item">
              <small>子項目</small>
              <p>公園、綠地、安全島髒亂</p>
            </div>
            <div class="query-detail-item">
              <small>收件編號</small>
              <p>88182</p>
            </div>
            <div class="query-detail-item">
              <small>收件時間</small>
              <p>2017-02-18</p>
            </div>
            <div class="query-detail-item">
              <small>機密等級</small>
              <p>保密</p>
            </div>
            <button class="btn btn-green hidden-xs hidden-sm" (click)="goBack()"> 繼續查詢 </button>

          </div>
          <div class="col-md-6 col-md-offset-1">
            <article class="info">
              <h2 class="info-title">陳情內容</h2>
              <p class="info-content">
                政府未能廣設卸貨停車區，造成不便？
              </p>
            </article>
            <article class="info">
              <h2 class="info-title">答覆內容</h2>
              <p class="info-content">
                本處已於本市重要道路、商業區等地段設置「貨車裝卸貨專用區」，以提供小型貨車及小型客貨兩用車臨時卸貨使用，民眾亦可視需求向本處提出建議地點，本處將綜合考量現地條件檢討設置「貨車裝卸貨專用區」的可行性。
              </p>
            </article>
            <article class="info">
              <h2 class="info-title">處理單位資訊</h2>
              <div class="row">
                <div class="col-md-12 query-detail-item">
                  <small>承辦機關</small>
                  <p>嘉義市政府資訊中心</p>
                </div>
                <div class="col-md-12 query-detail-item">
                  <small>科室</small>
                  <p>系統發展科</p>
                </div>
                <div class="col-md-12 query-detail-item">
                  <small>回覆日期</small>
                  <p>2017-02-18</p>
                </div>
                <div class="col-md-5 query-detail-item">
                  <small>承辦人員</small>
                  <p>陳小白</p>
                </div>
                <div class="col-md-7 query-detail-item">
                  <small>回覆日期</small>
                  <p>06-225-4123 #2780</p>
                </div>
              </div>
            </article>
            <br>
            <button type="button" class="btn btn-green hidden-md hidden-lg" (click)="goBack()"> 繼續查詢 </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
