<section class="query clear-fix" *ngIf="!showDetail">
  <h1 class="big-title">陳情案件查詢</h1>
  <div class="line-box line-triangle-deco line-box-tiny">
    <div>
      <p class="deco-triangle">請記得輸入您的電子信箱及收件編號方可查看您陳情案件的處理狀況哦！</p>
      <div class="field">
        <label class="field-name">案件編號</label>
        <input class="field-entery" type="text" placeholder="請輸入收件編號" >
      </div>
      <div class="field">
        <label class="field-name">電子信箱</label>
        <input class="field-entery" type="text" placeholder="example@example.com" >
      </div>
      <div class="field">
        <label class="field-name">陳情人</label>
        <input class="field-entery" type="text" placeholder="請輸入姓名" >
      </div>
      <p class="field-message">
        案件編號錯誤
      </p>
      <button type="button" class="btn btn-green" (click)="getDetail()">查詢案件</button>
    </div>
  </div>
</section>
<div *ngIf="showDetail" >
  <app-query-detail (closeDetail)="closeDetail()"></app-query-detail>
</div>
