@import "../../assets/stylesheets/scss/grid/_grid.scss";

.query {
    padding: 4em 0;
    width: 90%;
    margin: auto;
    @include pc {
        padding: 6em 0;
        width: 960px;
    }
    h1 {
        margin-bottom: 2em;
        @include pc {
            
            width: 40%;
            float: left;
            text-align: center;
        }
        @include pad {
            
            width: 40%;
            text-align: center;
        }
    }
    .query-form {
        padding: .85em;
        @include pc {
            width: 55%;
            margin-left: 5%;
            float: right;
        }
         @include phone {
             padding: .5em;
          }
        
        & > div {
            height: auto;
            padding: 3em 3.25em;
            @include phone {
                padding: 1em 1.25em; 
            }

        }
        .btn-green {
            z-index: 2;
        }
    }
}
