<section class="query-detail main-wrap">
  <div class="main-content line-box">
    <div class="" >
      <header class="line-box-title deco-triangle">
        <h1>案件查詢</h1>
      </header>
      <div class="query-detail-content">
          <div class="row">
            <div class="col-md-4">
              <ng-template ngFor let-c [ngForOf]="queryDetail.Content">
              <div class="query-detail-item">
                <small>案件編號</small>
                <p>
                  {{c.case_no1}}-{{c.case_no2}}-{{c.case_no3}}-{{c.case_no4}}</p>
              </div>
              <div class="query-detail-item">
                <small>陳情時間</small>
                <p>{{c.subj_time}}</p>
              </div>
              <div class="query-detail-item">
                <small>陳情人</small>
                <p>{{c.sugg_name}}</p>
              </div>
              <article class="info">
                <h2 class="info-title">陳情內容</h2>
                <p class="info-content" >
                  {{ wordsSplit(c.subject) }}
                </p>
              </article>
            </ng-template>
            <button class="btn btn-green hidden-xs hidden-sm" (click)="goBack()"> 繼續查詢 </button>

          </div>
          <div class="col-md-6 col-md-offset-1">
            <article class="info" *ngFor="let q of queryDetail.ProcessStatus">
              <h2 class="info-title">處理單位資訊</h2>
              <div class="row">
                <div class="col-md-9 query-detail-item">
                  <small>承辦機關科室</small>
                  <p>{{q.organ_name}} {{q.dept_name}}</p>
                </div>
                <div class="col-md-3 query-detail-item">
                  <small>辦理序號</small>
                  <p>{{q.seq_no}}{{q.seq_no}}</p>
                </div>
                <div class="col-md-12 query-detail-item" *ngIf="q.FinishDate!== 'N/A'&& q.FinishDate">
                  <small>回覆日期</small>
                  <p>{{q.FinishDate}}</p>
                </div>
              </div>
              <h2 class="info-title">答覆內容</h2>
              <p class="info-content">

                {{q.Reply}}
              </p>
            </article>


            <br>
            <button type="button" class="btn btn-green hidden-md hidden-lg" (click)="goBack()"> 繼續查詢 </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="fack-loading">
  <div class="content"></div>
</div>
